<%
var myValue = 'Hello! EJS!';
%><!doctype html>
<html lang="ja">
<head>
<%- include('template/_head.ejs') %>

<title></title>
<meta name="description" content="">

<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:image" content="#">

<link rel="stylesheet" href="/assets/css/index.css">

<%- include('template/_analytics.ejs') %>
</head>
<body>
<%- include('template/_header.ejs') %>

<div id="main">
  <p><%= myValue %></p>
  <p>hoge</p>
  <figure>
    <img src="img/howto8.jpg" alt="">
  </figure>
  <p>eee</p>
</div>

<%- include('template/_footer.ejs') %>
<%- include('template/_javascript.ejs') %>
<script src="/assets/js/index.js"></script>
<script>
console.log('hoge');
console.log('$', $);
console.log('_', _);
//$();
</script>
</body>
</html>