<!doctype html>
<html lang="ja">
<head>
<%- include('../assets/html/_head.ejs') %>

<title>test</title>

<%- include('../assets/html/_analytics.ejs') %>
</head>
<body>
<%- include('../assets/html/_header.ejs') %>

<main>
  
  <ul>
    <li><a href="location.hash.html">location.hash</a></li>
  </ul>
  
</main>

<%- include('../assets/html/_footer.ejs') %>
<%- include('../assets/html/_javascript.ejs') %>
</body>
</html>