<!doctype html>
<html lang="ja">
<head>
<%- include('../assets/html/_head.ejs') %>

<title>location.hash | test</title>

<link rel="stylesheet" href="/assets/css/test/location.hash.css">

<%- include('../assets/html/_analytics.ejs') %>
</head>
<body>
<%- include('../assets/html/_header.ejs') %>

<main>
  
  <p><a href="#test1">#test1</a></p>
  
  <div class="test_1">
    
  </div>
  
</main>

<%- include('../assets/html/_footer.ejs') %>
<%- include('../assets/html/_javascript.ejs') %>
</body>
</html>