<!doctype html>
<html lang="ja">
<head><%
const siteURL = "http://example.com/";
const path = "../";
const meta = {
  type: "website",
  title: "",
  description: "",
};
%>
<%- include(path+"assets/html/_head.ejs",{siteURL:siteURL,path:path,meta:meta}) %>
</head>
<body>
<%- include(path+"assets/html/_body_before.ejs") %>
<%- include(path+"assets/html/_header.ejs",{path:path}) %>

<main id="main">



</main><!-- /#main -->

<%- include(path+"assets/html/_footer.ejs",{path:path}) %>
<%- include(path+"assets/html/_body_after.ejs") %>
</body>
</html>