<%
let headerTag, h1Tag;
if ( "" === path ) {
  headerTag = "header";
  h1Tag = "h1";
} else {
  headerTag = "div";
  h1Tag = "p";
  if ( !path ) path = "../";
}
%>

<input type="checkbox" id="hnav" class="nav_1__checkbox">

<<%= headerTag %> id="header">
  <<%= h1Tag %>>
    サイト名
  </<%= h1Tag %>>
</<%= headerTag %>>

<label for="hnav" class="nav_1__toggle"><span></span><span></span><span></span></label>

<nav class="nav_1">
  <div class="nav_1__1">
    <ul class="nav_1__items">
      <li class="is_1">
        <a href="<%= path %>">TOP</a>
      </li>
      <li class="is_1">
        <a href="<%= path %>">ページ１</a>
      </li>
      <li class="is_1">
        <a href="#">ページ２</a>
      </li>
      <li class="is_2">
        <input type="checkbox" id="hnav-1">
        <label for="hnav-1">コンテンツ１<span></span></label>
        <a href="<%= path %>">コンテンツ１</a>
        <ul>
          <li><a href="<%= path %>">ページ３</a></li>
          <li><a href="<%= path %>">ページ４</a></li>
        </ul>
      </li>
      <li class="is_2">
        <input type="checkbox" id="hnav-2">
        <label for="hnav-2">コンテンツ２<span></span></label>
        <a href="<%= path %>">コンテンツ２</a>
        <ul>
          <li><a href="<%= path %>">ページ５</a></li>
          <li><a href="<%= path %>">ページ６</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav><!-- /.nav_1 -->