<!doctype html>
<html lang="ja">
<head><%
const path = "./";
const meta = {
	type: "website",
	title: "",
	description: "",
};
%>
<%- include("assets/html/_head",{path:path,meta:meta}) %>
<link rel="stylesheet" href="assets/css/index.css">
<script src="assets/js/index.js" defer></script>
<script>
window.addEventListener( 'DOMContentLoaded', function(){ 
	
});
</script>
</head>
<body>
<%- include("assets/html/_body_before") %>
<%- include("assets/html/_header",{path:path}) %>

<!--#include virtual="/assets/html/test.html" -->

<main id="main">
	<p>test: hoge</p>
	
	<div id="icon-1"></div>
	
	<picture>
		<source srcset="img/photo1.webp" media="(max-width: 767px)">
		<img src="img/photo1.webp" alt="" style="width: 400px">
	</picture>
	
	<figure>
		<!-- <img src="img/howto8.jpg" alt=""> -->
	</figure>
	<p>eee</p>
	
	<ul>
		<li><a href="carousel/">carousel/</a></li>
		<li><a href="video/a1.html">video/a1.html</a></li>
		<li><a href="video/a2.html">video/a2.html</a></li>
	</ul>
	
	<div class="carousel_1">
		<div class="carousel_1__items">
			<div class="carousel_1__item">
				<img src="https://placehold.jp/150x150.png" alt="">
			</div>
			<div class="carousel_1__item">
				<img src="https://placehold.jp/150x150.png" alt="">
			</div>
			<div class="carousel_1__item">
				<img src="https://placehold.jp/150x150.png" alt="">
			</div>
			<div class="carousel_1__item">
				<img src="https://placehold.jp/150x150.png" alt="">
			</div>
			<div class="carousel_1__item">
				<img src="https://placehold.jp/150x150.png" alt="">
			</div>
		</div>
	</div><!-- /.carousel_1 -->
	
	<ul>
		<li><a href="test/">test/</a></li>
	</ul>
	
</main>

<%- include("assets/html/_footer") %>
<%- include("assets/html/_body_after") %>
</body>
</html>