<!doctype html>
<html lang="ja">
<head><%
const path = "../";
const meta = PAGES['samples/index'].meta;
%>
<%- include("../assets/html/_head",{meta:meta}) %>
</head>
<body>
<%- include("../assets/html/_body_before") %>
<!-- <%- include("../assets/html/_header",{path:path}) %> -->
<!-- header_1 (無効化): #include virtual="/samples/assets/html/header_1.html" -->
<!--#include virtual="/samples/assets/html/header_2.html" -->

<main id="main">

  <ul>
    <li><a href="video/a1.html">video a1（スクロール連動動画＋YouTubeモーダル）</a></li>
    <li><a href="video/a2.html">video a2（YouTube切り替えプレイヤー）</a></li>
    <li><a href="first/">first（ファーストビューアニメーション）</a></li>
    <li><a href="carousel/">carousel（slickカルーセル＋CSSカルーセル）</a></li>
    <li><a href="modal/">modal（carouselと同一内容）</a></li>
  </ul>

  <div style="height: 500vh;"></div>

</main>
<!-- <p>a</p> -->

<%- include("../assets/html/_footer") %>
<%- include("../assets/html/_body_after") %>
</body>
</html>