<!doctype html>
<html lang="ja">
<head><%
const siteURL = "http://example.com/";
const path = "../";
const meta = {
	title: "video a2",
	description: "",
};
%>
<%- include(path+"assets/html/_head.ejs",{siteURL:siteURL,path:path,meta:meta}) %>
<link href="a2.css" rel="stylesheet">

<script src="//cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" defer></script>
<script src="//www.youtube.com/iframe_api" defer></script>
<script src="a2.js" defer></script>
</head>
<body>
<%- include(path+"assets/html/_body_before.ejs") %>
<%- //include(path+"assets/html/_header.ejs",{path:path}) %>

<div class="c_video_1">
	<a href="https://youtu.be/TLwuhjlmRE4" id="video-1">「アポロの光」篇</a>
	<ul>
		<li><a href="https://youtu.be/TLwuhjlmRE4">90秒CMを見る</a></li>
		<li><a href="https://youtu.be/jKFpaI5Wy3A">60秒CMを見る</a></li>
		<li><a href="https://youtu.be/iuuQazXhBug">30秒CMを見る</a></li>
		<li><a href="https://youtu.be/5apn_TwGTKA">15秒CMを見る</a></li>
	</ul>
</div>

<div class="c_video_1">
	<a href="https://youtu.be/UbrFT07qlb4" id="video-2">「このまちの未来」篇</a>
	<ul>
		<li><a href="https://youtu.be/UbrFT07qlb4">90秒CMを見る</a></li>
		<li><a href="https://youtu.be/FY-LwwBX7RQ">60秒CMを見る</a></li>
		<li><a href="https://youtu.be/lC4U0nybRyM">30秒CMを見る</a></li>
		<li><a href="https://youtu.be/N0T1HfLiA_E">15秒CMを見る</a></li>
	</ul>
</div>

<%- include(path+"assets/html/_footer.ejs",{path:path}) %>
<%- include(path+"assets/html/_body_after.ejs") %>
</body>
</html>